{% extends 'main.html' %}
    {% block content %}
    
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                {% include 'topics_component.html' %}
            </div>
            <div class="col-lg-6">
                <div class="text-light text-center">
                    <img src="{{user.avatar.url}}" style="width: 90px; height:90px;" class="rounded-circle" alt="">
                    <h1 class="text-center mt-2">{{user.username}}</h1>
                    {% if request.user == user %}
                        <div class="d-flex justify-content-center"><a href="{% url 'update-user' %}" class=" p-3 w-25 rounded-5 Edit btn btn-outline-info mt-2 text-white">Edit Profile</a></div>
                    {% endif %}
                </div>
                <div class="border border-light p-3 my-4  rounded-4 ">
                    <h3 class="mx-3 mt-2 ">About</h3>
                    <div class="">
                        <p class="text-light mx-3 my-4 ">{{user.bio}}</p>
                    </div>
                </div>
                
                {% for room in rooms %}
        
                {% endfor %}
                {% include 'feed_component.html' %}
            </div>
            <div class="col-3">
                {% include 'activity_component.html' %}
            </div>
        </div>
    </div>
    {% endblock  %}
