<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2 class="text-center mb-4 names" style="font-family: 'Borel', cursive;">Browse Topics</h2>
    <div class="shadow-lg p-3 mb-5  rounded pt-4 rounded-5 border-2 border-top border-danger" style="background-color:#c9a646;">
        <ul class="">
            <li class="" style=" list-style-type:none;">
                <a href="{% url 'home' %}" style="font-family: 'Kanit', sans-serif;" class="d-flex justify-content-between align-items-center fs-5 text-dark">ALL <span id="span_count" style="background-color: #f2f6f7;" class="text-center text-dark me-5 px-3 py-2 rounded-4">{{all_rooms}}</span></a>
            </li>
        </ul>

        {% for topic in topics %}
        <ul>
            <li  style=" list-style-type:none;">
                <a href="{% url 'home' %}?q={{topic.name}}" style="font-family: 'Kanit', sans-serif;" class="d-flex justify-content-between align-items-center fs-5 mt-3 text-dark">{{topic.name}} <span id="span_count" style="background-color: #f2f6f7;"  class="text-center text-dark me-5 px-3 py-2 rounded-4">{{topic.room_set.all.count}}</span></a>
            </li>
        </ul>
        {% endfor %}
    </div>
</body>
</html>