body{
    background-color: #222729;
}
#navbar{
    height: 100px;
    background-color: #2c383b;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a{
    text-decoration: none;
    color: white;
}
h1,h2,h3,h4,h5{
    font-family: 'REM', sans-serif;
    color: white;
}
#span_count{
    background-color: #465357;
}
#rooms{
    background-color:#465357;
}
